@page
@model BlogPlatformWebApp.Pages.Signup.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- First Name -->
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>

            <!-- Birthdate -->
            <div class="form-group">
                <label asp-for="User.Birthdate" class="control-label"></label>
                <input asp-for="User.Birthdate" class="form-control" />
                <span asp-validation-for="User.Birthdate" class="text-danger"></span>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

            <!-- Username -->
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input type="password" asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />

                @if (Model.Message != null)
                {
                    <span class="text-danger">
                        @Model.Message
                    </span>
                }
            </div>

            <!-- Account Created (Remove this later) -->
            @* <div class="form-group">
                <label asp-for="User.AccountCreated" class="control-label"></label>
                <input asp-for="User.AccountCreated" class="form-control" />
                <span asp-validation-for="User.AccountCreated" class="text-danger"></span>
            </div> *@

            <br />

            <!-- Submit -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-page="/Login/Index">Back to login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
